* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/*nawigacja*/
.hero {
  width: 100%;
  height: 15vh;
  background-color: #00f2ff;
  background-size: cover;
}
/*Literki*/
/*A*/
.Ax{
  text-align: left;
  padding: -150px;
  margin: 0;
  padding-left: 350px;
  color: #1f1f25;
  font-size: 50px;
  font-weight: 900;
  line-height: 90px;
  text-transform: inherit;
}
.Bx {
  text-align: center;
  margin: 0;
  margin-top: -90px;
  margin-left: 150px;
  color: #1f1f25;
  font-size: 50px;
  font-weight: 900;
  line-height: 90px;
  text-transform: inherit;
}
/*X*/
.Xx{
  text-align: center;
  margin: 0;
  margin-top: -90px;
  margin-left: 900px;
  color: #1f1f25;
  font-size: 50px;
  font-weight: 900;
  line-height: 90px;
  text-transform: inherit;
}
.Cx {
  text-align: left;
  margin: 0;
  margin-top: 500px;
  margin-left: 350px;
  color: #1f1f25;
  font-size: 50px;
  font-weight: 900;
  line-height: 90px;
  text-transform: inherit;
}
.Dx {
  text-align: center;
  margin: 0;
  margin-top: -210px;
  margin-left: 175px;
  color: #1f1f25;
  font-size: 50px;
  font-weight: 900;
  line-height: 90px;
  text-transform: inherit;
}
/*zmienić zadanie*/
.dropbtn {
    background-color: #fffb00;
    text-decoration-color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  /*wygląd dysplejów i td*/
  #numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    z-index: 2;
    width: 300px;
    height: 450px;
    background-color: #fff200;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 100px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    float: right;
    margin-right: 900px;
    margin-top: 0px;
  }
  
  .knopka {
    z-index: 1;
    width: calc(33.33% - 10px); 
    height: 50px;
    font-size: 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    float: left;
    background-color: rgb(13, 27, 42);
    color: #e0e1dd;
    -o-box-shadow: -1px 1px 30px -5px rgba(0, 0, 0, 0.2);
    box-shadow: -1px 1px 30px -5px rgba(0, 0, 0, 0.2);
  }
  
  #display {
    z-index: 1;
    width: 100%;
    height: 56px;
    font-size: 20px;
    text-align: right;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 5px;
    color: #0000ff;
    background-color: rgba(13, 27, 42, 0.3);
    border: none;
    box-sizing: border-box;
  }
  
  #ac {
    z-index: 1;
    color: #bf4d5d;
  } 
  
  .knopka:hover {
    z-index: 1;
    cursor: pointer;
  }
  
  .knopka:active {
    z-index: 1;
    transform: scale(1.05);
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.19), 0 1.5px 1.5px rgba(0, 0, 0, 0.23);
  }
  /*wygląd dysplejów1 i td*/
  #numbers1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    z-index: 2;
    width: 300px;
    height: 450px;
    background-color: #0066ff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 100px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    float: right;
    margin-right: 500px; 
    margin-top: -550px; 
  }
  
  .knopka1 {
    z-index: 1;
    width: calc(33.33% - 10px); 
    height: 50px;
    font-size: 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    float: left;
    background-color: rgb(13, 27, 42);
    color: #e0e1dd;
    -o-box-shadow: -1px 1px 30px -5px rgba(0, 0, 0, 0.2);
    box-shadow: -1px 1px 30px -5px rgba(0, 0, 0, 0.2);
  }
  
  #display1 {
    z-index: 1;
    width: 100%;
    height: 56px;
    font-size: 20px;
    text-align: right;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 5px;
    color: #fffb00;
    background-color: rgba(13, 27, 42, 0.3);
    border: none;
    box-sizing: border-box;
  }
  
  #ac1 {
    z-index: 1;
    color: #bf4d5d;
  } 
  
  .knopka1:hover {
    z-index: 1;
    cursor: pointer;
  }
  
  .knopka1:active {
    z-index: 1;
    transform: scale(1.05);
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.19), 0 1.5px 1.5px rgba(0, 0, 0, 0.23);
  }
  /*numbers2*/
  #numbers2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    z-index: 2;
    width: 300px; 
    height: 200px; 
    background-color: #5cfb07; 
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    float: right; 
    margin-right: 100px; 
    margin-top: -550px; 
  }
  
  #display2 {
    width: 100%;
    height: 56px;
    font-size: 20px;
    text-align: right;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 5px;
    color: #000000; 
    background-color: rgba(13, 27, 42, 0.3); 
    border: none;
    box-sizing: border-box;
  }
  
  #oblicz {
    width: 100%; 
    height: 50px;
    font-size: 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: rgb(13, 27, 42);
    color: #e0e1dd;
    box-shadow: -1px 1px 30px -5px rgba(0, 0, 0, 0.2);
  }
   /*numbers3*/
   #numbers3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    z-index: 2;
    width: 300px;
    height: 450px;
    background-color: #f80a0a;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 100px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    float: right;
    margin-right: 900px; 
    margin-top: 20px; 
  }
  
  .knopka3 {
    z-index: 1;
    width: calc(33.33% - 10px); 
    height: 50px;
    font-size: 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    float: left;
    background-color: rgb(13, 27, 42);
    color: #ffffff;
    -o-box-shadow: -1px 1px 30px -5px rgba(0, 0, 0, 0.2);
    box-shadow: -1px 1px 30px -5px rgba(0, 0, 0, 0.2);
  }
  
  #display3 {
    z-index: 1;
    width: 100%;
    height: 56px;
    font-size: 20px;
    text-align: right;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 5px;
    color: #000000;
    background-color: rgba(13, 27, 42, 0.3);
    border: none;
    box-sizing: border-box;
  }
  
  #ac3 {
    z-index: 1;
    color: #bf4d5d;
  } 
  
  .knopka3:hover {
    z-index: 1;
    cursor: pointer;
  }
  
  .knopka3:active {
    z-index: 1;
    transform: scale(1.05);
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.19), 0 1.5px 1.5px rgba(0, 0, 0, 0.23);
  }
     /*numbers4*/
     #numbers4 {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: space-between;
      z-index: 2;
      width: 300px;
      height: 450px;
      background-color: #e00af8;
      border-radius: 10px;
      padding: 20px;
      margin-bottom: 100px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      float: right;
      margin-right: 500px; 
      margin-top: -550px; 
    }
    
    .knopka4 {
      z-index: 1;
      width: calc(33.33% - 10px); 
      height: 50px;
      font-size: 20px;
      margin: 10px 0;
      border: none;
      border-radius: 5px;
      float: left;
      background-color: rgb(13, 27, 42);
      color: #ffffff;
      -o-box-shadow: -1px 1px 30px -5px rgba(0, 0, 0, 0.2);
      box-shadow: -1px 1px 30px -5px rgba(0, 0, 0, 0.2);
    }
    
    #display4 {
      z-index: 1;
      width: 100%;
      height: 56px;
      font-size: 20px;
      text-align: right;
      margin-bottom: 10px;
      padding: 20px;
      border-radius: 5px;
      color: #000000;
      background-color: rgba(13, 27, 42, 0.3);
      border: none;
      box-sizing: border-box;
    }
    
    #ac4 {
      z-index: 1;
      color: #bf4d5d;
    } 
    
    .knopka4:hover {
      z-index: 1;
      cursor: pointer;
    }
    
    .knopka4:active {
      z-index: 1;
      transform: scale(1.05);
      box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.19), 0 1.5px 1.5px rgba(0, 0, 0, 0.23);
    }